body {
  background-color: #54a3e5;
  align-content: center;
  align-items: center;
  font-family: 'Old Standard TT', serif;
  font-weight:bold;
  overflow:auto;
  position:absolute;
  
}

.shapeline1{
	position:relative;
  align-content: center;
}

p.hline {
	border-style: solid;
    border-color: black;
    border-width: 1.5px;
    position: relative;
    top: 410px;
    left:0px;
    width:1646px;

}

p.hline2 {
	border-style: solid;
    border-color: black;
    border-width: 1.5px;
    position: relative;
    top: 610px;
    left:0px;
}

.shape {
  height: 400px;
  width: 400px;
  background-color: #248ce1;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 300px;
  margin-bottom: 600px;
  float: left;
  margin-right: 20px;
  margin-left: 300px;
  position:relative;
  left:120px;

}

.shape2 {
  
  background-color: #472d77;
   height: 400px;
  width: 400px;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 300px;
  margin-bottom: 600px;
  float: left;
  margin-right: 20px;
  position:relative;
  left:130px;
  animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: 20;
 }

 .content {
 	position: relative;
 	right:540px;
 	top:380px;
 }

 #heading{
 	font-weight:3000;
 	font-size: 32px;
 }

 #subtitles1 {
 	line-height: 0px;
 }

 #subtitles2 {
 	position:relative;
 	top:20px;
 	line-height:0px;
 }

 .content2 {
 	position: relative;
 	right:80px;
 	top:192px;
 }

 .shape3 {
  height: 400px;
  width: 400px;
  background-color: #248ce1;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 300px;
  margin-top: 240px;
  float: left;
  margin-right: 10px;
  margin-left: 100px;
  position:absolute;
  left:-100px;
}

.shape4 {
  height: 400px;
  width: 400px;
  background-color: #472d77;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 300px;
  margin-top: 240px;
  float: left;
  margin-right: 10px;
  margin-left: 600px;
  position:absolute;
  left:-400px;
  mix-blend-mode: multiply;
}

.shape5 {
  height: 400px;
  width: 400px;
  background-color: #248ce1;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 300px;
  margin-top: 240px;
  float: left;
  margin-right: 10px;
  margin-left: 1125px;
  position:absolute;
  left:-700px;
  mix-blend-mode: multiply;
}

.shape6 {
  height: 400px;
  width: 400px;
  background-color: #472d77;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 300px;
  margin-top: -315px;
  float: left;
  margin-right: 10px;
  margin-left: 100px;
  position:relative;
  left: 750px;
  bottom: 45px;
  mix-blend-mode: multiply;
}

.shape7 {
  height: 400px;
  width: 400px;
  background-color: #248ce1;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 300px;
  margin-top: -315px;
  float: left;
  margin-right: 10px;
  margin-left: 100px;
  position:relative;
  left: 450px;
  bottom: 45px;
  mix-blend-mode: multiply;
}

.shape8 {
  height: 400px;
  width: 400px;
  background-color: #472d77;
  -moz-border-radius: 400px;
  -webkit-border-radius: 400px;
  border-radius: 300px;
  margin-top: -355px;
  float: left;
  margin-right: 10px;
  margin-left: 100px;
  position:relative;
  left: -270px;
  top: 400px;
  mix-blend-mode: multiply;
  
}

p.hline3 {
	border-style: solid;
    border-color: black;
    border-width: 1.5px;
    position: relative;
    top: 800px;
    left:0px;
    width:1646px;
    margin-left: 0px;
}


@keyframes rotate {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}


.footer{
  position:absolute;
	overflow: visible;
  top:1200px;
  left:625px;
}







