body{
	position: absolute;
	overflow: auto;
	display:inline-flex;
	font-family: "helvetica", sans-serif;
	background: black;
	color:white;
	margin-left: 80px;
	left:50px;
	padding:20px;
}

#subhead p{
	color:gray;
	font-weight: bold;
}

#author{
	font-style: italic;
	font-size:14px;
}

.container{
	display:grid;
	width:1200px;
}

.para1{
	color:gray;
	width:1200px;
}

p{
	width:1000px;
	font-weight: lighter;
	color:gray;
}

h3{
	background:blue;
	width:500px;
}

ol{
	color:lightgray;
	font-weight: bold;
}
