body{
	background-color: black;
	overflow:auto;
}

.container {
	display:inline-flex;
	font-family: "helvetica", sans-serif;
	
}

.peripherals {
	position: absolute;
	z-index: 2;
}

#heading a{
	position: absolute;
	font-size:2vw;
	color:white;
	margin-top:20px;
	margin-left:20px;
	top:20px;
	padding:2px;
	background:#fe3dce;
	width:20.5vw;
	font-weight: bold;
	text-decoration: none;
}

#subhead h4{
	position: absolute;
	margin-left:20px;
	top:100px;
	padding:2px;
	color:gray;
	font-weight: normal;
	width:500px;
}

#contact h4{
	position: absolute;
	margin-left:20px;
	top:830px;
	padding:2px;
	color:gray;
	font-weight: normal;
	width:500px;
}

#line1{
	width:1px;
	height:860px;
	background: #01f7f2;
	left:400px;
	top:40px;
	z-index: 0;
	position: absolute;
}

#line2{
	height:1px;
	width:1200px;
	position: absolute;
	background: #01f7f2;
	left:410px;
	top:100px;
}

#proj{
	position:absolute;
	left:450px;
	top:130px;
	display:inline-flex;
}

#proj h2{
	color:black;
	background: #02f503; 
	width:150px;
	text-align: center;
}

#exes{
	position:absolute;
	left:900px;
	top:130px;
	display:inline-flex;
}

#exes h2{
	color:black;
	background: #ba33f1; 
	width:150px;
	text-align: center;
}

#presentation{
	position:absolute;
	left:1350px;
	top:130px;
	display:inline-flex;
	
}
#presentation h2{
	color:black;
	background: #fffb04; 
	width:200px;
	text-align: center;
}

#preslink a{
	color:white;
	display:inline-flex;
	text-decoration: none;
	position: absolute;
	left:1370px;
	top:250px;
}

#projects{
	display:inline-flex;
	position: absolute;
	left:450px;
	top:250px;
	font-weight: bold;
}

#plist a{
	text-decoration: none;
	color:white;
	display:inline-flex;
}

#exercises{
	display:inline-flex;
	position: absolute;
	left:900px;
	top:250px;
	font-weight: bold;
}

#elist a{
	text-decoration: none;
	color:white;
	display:inline-flex;
}



	























