.center{
	position:absolute;
	margin-left: 0px;
	margin-top: 200px;
	color:red;
	left:0px;
	font-size: 34px;
	top:350px;
}
body{
	margin: 0;
	font-family:sans-serif;
	background: #2F2F31;
	text-align: center;
}

.image{
  max-width: 100%;
  height: auto;  
 
  position: absolute;
  left:600px;
  top:50px;
  

}