.center{
	position:absolute;
	margin-left: 0px;
	margin-top: 200px;
	color:white;
	left:0px;
	font-size: 54px;
}

.psb{
	color:white;
	background:green;
	width:200px;
	font-family: "helvetica",sans-serif;
	position: absolute;
	top:800px;
	text-align: center;
	left:1350px;
	border-radius: 10px;
	border: 2px solid white;

}
.psb a{
		text-decoration: none;
		color:white;
		display: block;
}


body{
	margin: 0;
	font-family:sans-serif;
	background: #2F2F31;
	text-align: center;
}

.canvas {
	background:red;
}

