body{
	background:black;
	overflow:hidden;
	font-family:"helvetica",sans-serif;
	color:black;
}

p{
	position:absolute;
	text-align: center;
	margin:6px;
	font-size: 12px;
	font-weight: bold;
}
h1{
	position:absolute;
	margin:5px;
  top:40px;
  font-size: 2vw;
  color:white;
}



.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-fill-mode: both;
  
}
.layer.top {
  -webkit-animation: 3.7s top cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s top cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation-fill-mode: both;

}
.layer.bottom {
  -webkit-animation: 3.7s bottom cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s bottom cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation-fill-mode: both;
          
}

.n {
  -webkit-animation: 3.7s "n" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s "n" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          border:1px solid white;
}

@-webkit-keyframes n {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
  }
}

@keyframes n {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -158px);
  }
}
.s {
  -webkit-animation: 3.7s "s" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s "s" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          border:1px solid white;
}

@-webkit-keyframes s {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
  }
}

@keyframes s {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 158px);
  }
}
.e {
  -webkit-animation: 3.7s "e" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s "e" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          border:1px solid white;
}

@-webkit-keyframes e {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
  }
}

@keyframes e {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, 0);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 0);
  }
}
.w {
  -webkit-animation: 3.7s "w" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s "w" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          border:1px solid white;
}

@-webkit-keyframes w {
  33.33%, 50%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
  }
}

@keyframes w {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
  }
   66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 0);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 0);
  }
}
.ne {
  -webkit-animation: 3.7s "ne" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s "ne" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          border:1px solid white;
}

@-webkit-keyframes ne {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -79px);
  }
  66.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(316px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(316px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -158px);
  }
}

@keyframes ne {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(158px, -79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(316px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(316px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(237px, -158px);
  }
}
.se {
  -webkit-animation: 3.7s "se" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s "se" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          border:1px solid white;
}

@-webkit-keyframes se {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 158px);
  }
}

@keyframes se {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0, 79px);
  }
  66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, 158px);
  }
}
.sw {
  -webkit-animation: 3.7s "sw" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s "sw" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          border:1px solid white;
}

@-webkit-keyframes sw {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-316px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-316px, 158px);
  }
  16.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 158px);
  }
}

@keyframes sw {
 33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-158px, 79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-316px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-316px, 158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-237px, 158px);
  }
}
.nw {
  -webkit-animation: 3.7s "nw" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          animation: 3.7s "nw" cubic-bezier(0.645, 0.045, 0.355, 1) 2;
          border:1px solid white;
}

@-webkit-keyframes nw {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -158px);
  }
}

@keyframes nw {
  33.33%, 50% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -79px);
  }
   66.66%{
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, -79px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(-79px, -79px);
  }
  0%, 83.33%,100% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(0px, -158px);
  }
  16.66% {
    -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -158px);
            transform: matrix(0.9, 0.5, 0, 1, 0, 0) translate(79px, -158px);
  }
}
.cube {
  position: absolute;
  top: 47%;
  left: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: linear-gradient(#000080, #ff00ff);
  -webkit-transform: matrix(0.9, 0.5, 0, 1, 0, 0);
          transform: matrix(0.9, 0.5, 0, 1, 0, 0);
          animation-fill-mode: both;
          border: 1px solid white;
}


.nw p{
  position: absolute;
  transform:rotateY(-45deg);
  background:black;
  width:113px;
  left:80px;
  top:-190px;
  color:white; }

.ne p{
    transform:rotateY(-45deg);
    top:-140px;
    left:-5px;
    font-family: "helvetica", sans-serif;
    font-size:17px;
    background:black;
    font-weight: bold;
    width:113px;
    font-size:17px
    color:white;
  }
.cube p{
    transform:rotateY(-45deg);
    top:-120px;
    left:-15px;
    font-family: "helvetica", sans-serif;
    background:black;
    border:1px solid white;
    font-size:17px;
    font-weight: bold;
    width:113px;
    position: absolute
    color:white;
    padding:1px;

  }

.cube:before, .cube:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

}
.cube:before {
  background: linear-gradient(#ff00ff, #000080);
  -webkit-transform: matrix(1, -1, 1, 0, 40, -80);
          transform: matrix(1, -1, 1, 0, 40, -80);
}
.cube:after {
  background: linear-gradient(#ff00ff, #000080);
  -webkit-transform: matrix(1, -1, 0, 1, 80, -40);
          transform: matrix(1, -1, 0, 1, 80, -40);

}

@-webkit-keyframes top {
  0%, 33.33%, 100% {
    -webkit-transform: translate(0, -99px);
            transform: translate(0, -99px);
  }
  50%, 83.33% {
    -webkit-transform: translate(0, -158px);
            transform: translate(0, -158px);
  }
}

@keyframes top {
  0%, 33.33%, 100% {
    -webkit-transform: translate(0, -79px);
            transform: translate(0, -79px);
  }
  50%, 83.33% {
    -webkit-transform: translate(0, -158px);
            transform: translate(0, -158px);
  }
}
@-webkit-keyframes bottom {
  0%, 33.33%, 100% {
    -webkit-transform: translate(0, 79px);
            transform: translate(0, 79px);
  }
  50%, 83.33% {
    -webkit-transform: translate(0, 158px);
            transform: translate(0, 158px);
  }
}
@keyframes bottom {
  0%, 33.33%, 100% {
    -webkit-transform: translate(0, 79px);
            transform: translate(0, 79px);
  }
  50%, 83.33% {
    -webkit-transform: translate(0, 158px);
            transform: translate(0, 158px);
  }
}

.content{
	display: flex;
	font-family: "helvetica", sans-serif;
	position: absolute;
	left:20px;
	width:320px;
  top:40px;
	
	
}

.content,p{
	text-align: left;
	font-weight: normal;
}

p{
	top:110px;
	font-size: 20px;
	width:600px;
	font-weight: lighter;
  color:white;
}

#subhead, h6{
  position: relative;
  font-weight: bold;
}
#heading p{
  color:white;
  position: absolute;
  top:370px;
  left:-480px;
  width:1000px;
  transform:rotate(-90deg);
  font-size:5.2vw;
  font-family: "helvetica", sans-serif;
  font-weight:bold;

}
}

.footer{
  position: absolute;
  top:800px;
  left:20px;
  font-family: "helvetica",sans-serif;

  
}

.nav li{
  
    
    display:inline;
    position: relative;
    color:white;
    font-family: "helvetica",sans-serif;
    padding:30px;
    top:120px;
    left: -60px;
    font-size: 13px;
    color:black;
    font-weight: bold;
    text-align: center;
    background-color: 
    }

  .bar{
    position:absolute;
    width:1700px;
    height:20px;
    background: red; 
    top:930px;  
    left:-20px;
    margin-left: 0px; 
  }  


.Art a{
  color:white;
  text-decoration: none;
  left:110px;
  position: relative;
}

.Architecture a{
  color:white;
  text-decoration: none;
  position: relative;
  left:350px;

}
.Design a{
  color:white;
  text-decoration: none;
  position: relative;
  left:550px;

}
.History a{
  color:white;
  text-decoration: none;
  position: relative;
  left:750px;
}



a{
  text-align: left;
  color:white;
  font-size:24px;
  }

  .grid{
    position: absolute;
    left:900px;
    top:110px;
  }
  .menu-toggle {
  display: block;
  font-size: 0;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  position: relative;
  top:80px;
  left:100px;
}

.menu-toggle,
.menu-toggle:before,
.menu-toggle:after {
  border-top: 3px solid white;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.menu-toggle:before,
.menu-toggle:after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
}

.menu-toggle:before {
  top: 7px;
}

.menu-toggle:after {
  top: 17px;
}

.menu-toggle.toggled-on {
  border-top-color: transparent;
}

.menu-toggle.toggled-on:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px;
}

.menu-toggle.toggled-on:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 12px;
}
/***/
.test {
  display: none;
}

.test li{
  position: relative;
  top:180px;
  font-family: "helvetica", sans-serif;
  font-weight: bold;
  background: red;
  width:160px;
  padding:5px;
  font-size: 24px;
  list-style: none;
}

.test a{
  list-style: none;
  text-decoration: none;
  color:black;
}
.test a:hover {
    background: white;
    }

  .authorlist a:hover {
    background: red;
    }


.authorlist{
  position: absolute;
  left:68%;
  top:0px;
}

.authorlist li a{
  list-style: none;
  font-weight: bold;
  font-size: 4.2vw;
  line-height: 56PX;
  text-decoration: none;
}

.authorlist li{
  list-style: none;
}

.button{
  cursor:pointer;

}

.nw p:hover {
    background: red;
    
}
.w p:hover {
    background: red;
    
}
.n p:hover {
    background: red;
   
}
.ne p:hover {
    background: red;
    
}
.cube p:hover {
    background: red;
    
}
.sw p:hover {
    background: red;
    
}
.s p:hover {
    background: red;
    
}
.e p:hover {
    background: red;
    
}
.se p:hover {
    background: red;
    
}







 






