body {
  background-color: blue;
}

.headingcont{
  font-family: 'helvetica', sans-serif;
  position:relative;
  margin:30px;
  width:400px;
  z-index: 999;
  top:20px;
}

#head, h1{
  color:black;
  text-align: center;
  background:white;
}

#head{
  border: 1px solid white;
  
}

#subhead h4{
  color:blue;
  left:20px;
  top:-40px;
}
h4{
  position:relative;
  top:-20px;
  font-size:small;
}
body, button {
  font-family: 'helvetica', sans-serif;
  font-size: large;
  font-weight: bold;
}
    
.playground {
  position: fixed;
  top: 0;
  left: 400px;
  bottom: 0;
  right: 0;
  border: 8px solid black;
}
    
.margin {
  margin: 30px;
  width: 300px;
  position:relative;
  left:20px;
}
    
#filterButtons {
  width: 300px;
  flex-direction: row;
  flex-wrap: wrap;
}
#disclaimer{
  color:grey;
  font-size: 10px;
  position:relative;
  top:-65px;
  left:-38px;
}

li {
  margin-left: -20px;
}
    
button {
  padding: 1px;
  margin-right: 8px;
  margin-bottom: 8px;
  color: white;
  background-color: black;
  border: none;

}
button:hover,
button.hover {
  background-color: red;
}
button:active,
button.active {
  background-color: blue;
  box-shadow: 0 3px #27496d;
  transform: translateY(2px) translateX(1px);
}    
    
button:disabled,
button.disabled {
  background-color: blue;
  
  transform: translateY(2px) translateX(1px);
}

#startButton{
  position:relative;
  left:-20px;
  top:10px;
}
#photoButton{
  position:relative;
  left:-20px;
  top:-15px;
}

ol{
  list-style: none;
}
.photo {
  
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  padding: 12px;
  background-color: black;
  cursor: move;   
  transition:all 0.5s;
}

.0000photo:hover {
  position: absolute;
  -webkit-transform: translateY(0px) translateX(0px) rotate(0deg) scale(1.5);
  z-index: 999;
}

