{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Archivo Black', sans-serif;}

section{
/*    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;*/
    display: flex;
}

.hero {
   font-family:'Neue Haas Grotesk' sans-serif;
    background-color: black;
    background-size: 100%;
    overflow: 100%;

}


.top-left{
 
  color: white;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 24px;
  display: inline-block;
  margin: 5px;
  padding: 10px;

}

.audiocontrols, audio{
    
    background-color: black;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: right;
  width: 100%;
  background: black;
}

.share a {
  background-color:: black;
  background-size: 100%;
  color: white;
  display: inline-block;
  margin: 5px 20px;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  text-align: right;
}

.share a:hover {
  background: white;
  
}

.hero{
    height: 500px;
}


.lyrictitle, h2{
    color: white;
    text-align:left;

}


.thelyrics{
    background: black;
    color: white;
    text-align: center;
    display: flex;
    text-align: left;
    font-size: 13.5 px;
    
}

.content{
    padding: 50;
}

.text div{
    width: 50%;
}

.image { 
    height:900px;
}














 }