body{
  background-color:black;
  text-decoration: none;
  color:white;
}

nav select {
  display: none;
}

@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}