*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
/*    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;*/
    display: flex;
}

header{
    position:absolute;
    width:100px;
    height:auto;
    font-family: "Cinzel", serif;
    font-weight: normal;
    list-style: none;
    width:400px;
}

#line{
    height:1px;
    width:1665px;
    position:absolute;
    background-color: lightgray;
    top:90px;
    left:-630px;
}
#line2{
    height:1px;
    width:1665px;
    position:absolute;
    background-color: lightgray;
    top:130px;
    left:-630px;
}
.masthead{
    text-align: center;

}
.Mainheader{
    left:630px;
}
a{
    display:inline;
}
.nav {
    position:absolute;
    top:100px;
    float:left;
    font-family: "helvetica", sans-serif;
    list-style: none;
    left:150px;
}

.nav li{
    display:inline;
    padding:20px;
    font-size: 14px;
    font-weight:bold;

}

.hero{
    height: 500px;
    top:150px;
    position: relative;
   
}

.text, .feature-img{
    flex: 1;
}

.text{
    background: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text div{
    width: 50%;
}

.info{
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: "Cinzel", serif;
}

h1{
    text-transform: uppercase;
    font-family: "Cinzel", serif;
    font-size:40px;
}
.byline{
    font-family:"helvetica", sans-serif;
    font-weight:bold;
    font-size:12px;
}

.subtitle{
    font-style: italic;
    margin: 1rem;
}

.feature-img{
    background: url('img/cover.jpg') no-repeat center center;
    background-size: cover;
}

.more-articles{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    position: absolute;
    top:700px;
    left:170px;
}
article{
    width: 50%;
    padding: 1rem;
}

.article-image{
    height: 500px;
    overflow: hidden;
}

.flex-container{
    padding: 0;
    margin: 0;

}

img{
    width: 100%;
}

.details{
    margin: 1rem 0;
    font-family: sans-serif;
}

.category{
    color: red;
    text-transform: uppercase;
    font-family: "Cinzel", serif;
}
h3{
    
    text-transform: uppercase;
    font-family: "Cinzel", serif;
    font-size: 30px;
}
.details{
    font-family: "helvetica",sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.date{
    font-size: .8rem;
    color: grey;
}

