@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);


body {
  background-color: #006400;
  
  position:absolute;
  overflow:hidden;
  left:0px;
  margin:0px;

}



#heading, a {text-decoration: none;
  color:white;
  font-size: 30px;
  position: absolute;
  width:650px;
  margin-left: 50px;
  top:70px;
  background:black;
  padding:10px;
}
.divline {
  position:absolute;
  height:1200px;
  width:880px;
  margin-left:800px;
  background:black;
  margin-top: 0px;
  top:-30px;
}

#content {
  position:absolute;
  font-family: 'Helvetica', sans-serif;
  
  width:450px;
  margin-top: 150px;
  margin-left: 100px;
}

#conthead {

  position:absolute;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  color:white;

}

#conthead p {

  position:absolute;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  color:black;
  top: 30px;

}

#body {
  position:absolute;
  font-size: 14px;
  margin-top: 80px;
  margin-left: 100px;
  left:180px;
  width:355px;
  color:black;
  
}

#projdesc {
  position: absolute;
  margin-top: 420px;
  font-size: 16px;
  color:white;
  width:570px;
  
}

.img {
  position: absolute;
  margin-top: 100px;
}
.img p {
  width:255px;
  font-family: 'Helvetica', serif;
  font-size: 10px;
  color:black;
}

#nextpage a {
  position: absolute;
  margin-left: 900px;
  margin-top: 680px;
  left:600px;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  color:white;
  width:100px;
  padding:10px;
  animation-name: movingtext;
  animation-duration: 10s;
  animation-iteration-count: 20;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

    body {
        
        font-family: 'Helvetica', sans-serif;
        font-size: 40px;
        color: #ffffff;
    }

    #hiddenInput {
        font-size: 36px;
        font-family: 'Neue Haas Grotesk', sans-serif;
        background-color: #808080;
        position: absolute;
        opacity: 0.4;
        margin-top: -22px;
        margin-left: -125px;
        opacity: 0;
        filter: alpha(opacity = 0);
        left:1050px;
        top:200px;
    }

    #container {
        position: absolute;
        top: 80px;
        left: 50%;
    }

    #input {
        position: absolute;
        margin-top: 100px;
        margin-left: 200px;
        left:800px;
        top:100px;
    }

    .letterContainer {
        display: inline;
        white-space: nowrap;
    }

    .letterStatic {
        display: inline;
    }

    .letterAnimTop {
        display: inline;
        position: absolute;
        -webkit-animation: dropTop .1s ease;
        -moz-animation: dropTop .1s ease;

    }

    .letterAnimBottom {
        display: inline;
        position: absolute;
        -webkit-animation: dropBottom .1s ease;
        -moz-animation: dropBottom .1s ease;
    }

    .blink {
        position: static;
        top: -5px;
        -webkit-animation: blink 0.3s ease 0 infinite alternate;
        -moz-animation: blink 0.3s ease 0 infinite alternate;
    }

    @-moz-keyframes blink {
        from { opacity: 0 }
        to { opactiy: 1 }
    }

    @-webkit-keyframes blink {
        from { opacity: 0 }
        to { opactiy: 1 }
    }

    @-moz-keyframes dropTop {
        from {
            -moz-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
            transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
        }

        to {
            -moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
            transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
        }
    }

    @-moz-keyframes dropBottom {
        from {
            -moz-transform: translateY(20px) translateZ(20px) rotateX(-90deg);
            transform: translateY(20px) translateZ(20px) rotateX(-90deg);
        }

        to {
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }
    }

    @-webkit-keyframes dropTop {
        from { -webkit-transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg); }
        to { -webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg); }
}

    @-webkit-keyframes dropBottom {
        from { -webkit-transform: translateY(20px) translateZ(20px) rotateX(-90deg); }
        to { -webkit-transform: rotateX(0deg); }
    }
    
    #lastpage a{
  position: absolute;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  left:900px;
  top:745px;
  width:50px;

  color:white;
}


