body {
  background-color: white;
  font-family: 'Archivo Black', sans-serif;}

.bgimg {
  position: relative;
  text-align: center;
  color: black;
  overflow: hidden;
}


.centeredhead {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.top-left {
 
  color: white;
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 24px;
  font-family:'Neue Haas Grotesk' sans-serif;
  display: inline-block;
  margin: 15px;
  padding: 20px;

}

.totalscroll {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.scroll {
  position:absolute;
  top: 100px;
  overflow: visible;
  width: 100%;
  height: 100%;
  color: blue;
  }

  .scrollright {
  position:absolute;
  top: 100px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: yellow;

  }

  .scrollupdown {
    position: absolute;
    top: 100px;
    overflow: hidden;
    bottom:100px;
    width: 100%;
    height: 100%;
    color: limegreen;
      }



h1 {
  color: black;
  font-size: 42px;
  font-weight: 600;
  text-align: center;

}

h2 {
  color: blue;
}



h3 {
  color: red;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

h4 {
  color: black;
  font-size: 20px;
}


.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: right;
  width: 100%;
  background: black;
}

.share a {
  background: black;
  color: white;
  display: inline-block;
  margin: 5px 20px;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  text-align: right;
}

.share a:hover {
  background: white;
  
}